/*
 * Copyright 2015-2023 the Mimu Authors (Dan Bornstein et alia).
 * SPDX-License-Identifier: Apache-2.0
 */

@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,400;0,700;1,400;1,700&family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background-color: #ddeeff;
    color: #222244;
    font-family: Aleo, serif;
    font-weight: normal;
    font-size: 14pt;
    line-height: 150%;

    margin-top: 2em;
    margin-left: 5em;
    margin-right: 5em;
}

code {
    font-family: Roboto mono, monospace;
}

h1, h2, h3 {
    font-family: Amaranth, sans-serif;
    text-align: center;
}

h1 {
    font-size: 36pt;
}

h2 {
    margin-bottom: 3em;
    font-size: 28pt;
}

h3 {
    margin-top: 2em;
    font-size: 24pt;
}

hr {
    margin-top: 3em;
}

.demoList li {
    font-size: 18pt;
    padding-left: 1em;
    padding-top: 5pt;
    padding-bottom: 5pt;
}

table.footer {
    font-family: Raleway, sans-serif;
    font-size: 10pt;
    border-top-style: solid;
    border-top-color: #888;
    margin-top: 3em;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
}

.footer td + td {
    text-align: right;
    vertical-align: top;
}
