/*
 * Copyright 2015-2023 the Mimu Authors (Dan Bornstein et alia).
 * SPDX-License-Identifier: Apache-2.0
 */

@import url("../index.css");

#oscTable {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    border-style: solid;
    border-color: #555555;
    border-width: 5pt;
    border-radius: 20pt;
    padding: 5pt;
    background-color: black;
}

#oscCell {
    width: 100vw;
    height: 45vw;
}

#harmTable {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    border-style: solid;
    border-color: #555555;
    border-width: 5pt;
    border-radius: 20pt;
    padding: 5pt;
    background-color: black;
}

#harmCell {
    width: 100vw;
    height: 25vw;
}

#controlTable {
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
}
