/*
 * Copyright 2015-2023 the Mimu Authors (Dan Bornstein et alia).
 * SPDX-License-Identifier: Apache-2.0
 */

@import url("../index.css");

#oscTable {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    border-style: solid;
    border-color: #555555;
    border-width: 5pt;
    border-radius: 20pt;
    padding: 5pt;
    background-color: black;
}

#oscCell {
    width: 100vw;
    height: 30vw;
}

#harmTable {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    border-style: solid;
    border-color: #555555;
    border-width: 5pt;
    border-radius: 20pt;
    padding: 5pt;
    background-color: black;
}

#harmCell {
    width: 100vw;
    height: 30vw;
}

#controlTable td {
    padding-bottom: 1em;
}

#controlTable input {
    width: 100%;
}

#controlTable td:first-child {
    text-align: left;
}

#controlTable td:first-child + td {
    width: 60%;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
}

#controlTable td:first-child + td + td {
    text-align: right;
}


.sliderCell {
    width: 100%;
    height: 28pt;
}

.slider {
    width: 100%;
    height: 28pt;
    background-color: #eeeeee;
    color: black;
    font-size: 15pt;
}
