/*
 * Copyright 2015-2023 the Mimu Authors (Dan Bornstein et alia).
 * SPDX-License-Identifier: Apache-2.0
 */

@import url("../index.css");

#oscCell {
    width: 100vw;
    height: 30vw;
}

#harmCell {
    width: 100vw;
    height: 30vw;
}
